@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;700&display=swap');

:root{
    --bg-color: #010B13;
    --text-color: #fffffe;
    --text-titles-color: #8AB9F1;
    --text-subtitles-color: #6082B6;
    --default-border: 1px dotted #6082B6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.go-top-button{
    background-color: #007FFF;
    color: var(--text-color);
    padding: 8px 12px;
    font-size: 1.25rem;
    border-radius: 4px;

    position: fixed;
    bottom: 32px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all .3s ease;
}
.go-top-button.visible{
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all .3s ease;
}

body{
    background-color: var(--bg-color);
    font-family: 'Sometype Mono', monospace;
    color: var(--text-color);
}

.github-button{
    display: inline-flex;
    text-decoration: none;
    color: var(--text-titles-color);
    border: 1px solid var(--text-titles-color);
    padding: 8px;
    border-radius: 4px;
    font-weight: 700;
}
.github-button::before{  
    font: var(--fa-font-brands);
    content: "\f09b";
    vertical-align: middle;
    font-weight: 900;
    margin-right: 5px;
    font-size: 1.25rem;
}

.header{
    height: 100vh;
}

.header .navigation{
    height: 70px;
    padding: 0 16px;
    border-bottom: var(--default-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navigation .menu-mobile{
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--text-titles-color);
    font-size: 1.875rem;
    border: 0;
    outline: 0;

    display: none;
    justify-content: center;
    align-items: center;
}
.header .navigation .menu{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.header .navigation li a{
    text-decoration: none;
    font-size: 2rem;
    padding: 15px;
    margin-right: 16px;
    color: var(--text-titles-color);
}

.header .hero-banner{
    display: flex;
    height: calc(100vh - 70px);
}
.header .hero-banner .left{
    padding: 8px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .hero-banner .left .me{
    line-height: 0.75em;
    font-size: clamp(1.875rem, 5vw, 3.75rem);
}
.header .hero-banner .left .me .name{
    color: var(--text-titles-color);
    display: block;
}
.header .hero-banner .left .me .profession{
    color: var(--text-subtitles-color);
    display: block;
    font-size: 0.675em;
}
.header .hero-banner .right{
    width: 50%;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header .hero-banner .right svg{
    width: 600px;
    height: 100%;
}

.section{
    padding: 1rem 1rem 2rem 1rem;
    border-top: var(--default-border);
}
.section .section-title{
    color: var(--text-titles-color);
    font-size: clamp(2.25rem, 8vw, 3.75rem);
    line-height: 1.8em;
    text-align: center;
}

#about-me{  
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-me p{
    width: 500px;
    text-align: center;
}

.projects-container{
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "project ."
    ". project"
    "project .";
    grid-template-columns: repeat(2, 1fr);
}
.projects-container .project{
    padding: 2rem;
}
.project .project-name{
    color: var(--text-titles-color);
    font-size: 1.25rem;
    line-height: 1.5em;
}
.project .project-description{
    font-size: 0.875rem;
    line-height: 1.375em;
    max-width: 1000px;
}
.project .tecnologies-container span{
    font-size: 0.925rem;
    line-height: 1.8em;
    color: var(--text-subtitles-color);
}
.project .tecnologies-container .tecnologies-icons{
    display: flex;
    flex-wrap: wrap;
}
.project .tecnologies-container .tecnologies-icons .icon{
    width: 60px;
    height: 60px;
    margin-right: 16px;
    margin-top: 8px;
}
.project .view-options a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-titles-color);
    border: 1px solid var(--text-titles-color);
    padding: 8px;
    margin: 8px 0;
}
#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacts .contact-mail{
    display: inline-block;
    margin-top: 1rem;
    font-size: min(5vw, 2.875rem);
}
#contacts .contact-mail::before{
    color: var(--text-subtitles-color);
    font-family: 'Font Awesome 6 Free';
    content: '\f0e0';
    font-size: 0.75em;
    margin-right: 4px;
    vertical-align: middle;
}

/* ---------- footer ---------- */
.footer .copyright{
    padding: 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: #C0C0C0;
}

/* ---------- estilizando o scrollbar ---------- */
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(96, 130, 182, .5) var(--bg-color);
}
*::-webkit-scrollbar {
    width: 8px;
}
  
*::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgba(96, 130, 182, .5);
    border-radius: 20px;
}

/* estilizando o svg */
.svg-fill{
    fill: var(--text-subtitles-color);
}

/* ---------- Responsivity ---------- */
@media(max-width: 1024px){
    .projects-container .project{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 768px){
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-container .project:not(:last-child){
        border-bottom: 1px solid rgba(96, 130, 182, .2);
    }
    .header .navigation .menu{
        background-color: #002147;
        display: block;
        position: absolute;
        top: calc(0% + 70px);
        right: 8px;
        opacity: 0;
        visibility: hidden;
        transform-origin:top;
        transform: scaleY(0);
        transition: all .3s ease;
    }
    .header .navigation .menu.visible{
        opacity: 0.9;
        visibility: visible;
        transform: none;
        transition: all .3s ease;
    }
    .header .navigation .menu li{
        padding: 8px;
    }
    .header .navigation .menu-mobile.open{
        display: flex;
    }
}

@media (max-width: 680px){
    .header .hero-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header .hero-banner .right{
        width: 100%;
    }
    .header .hero-banner .right svg{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 520px){
    #about-me p{
        width: 100%;
    }
    .projects-container .project{
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 425px){
    .projects-container .project{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}